#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	touch $(CURDIR)/debian/ddelta/usr/lib/python3/dist-packages/ddelta/__init__.py
